<!DOCTYPE html>
<html lang="en">
<head>
    <title>button test</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="mx.css" />

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="abtn.js"></script>
    <script>
        abtn.init();
    </script>
</head>
<body ng-app="abtn" ng-controller="RootCtrl as root">



    <div class="fluid-container" viewport style="overflow:auto">

        <div ng-include="'template/'+ root.view +'.html'"></div>

    </div>

    <div class="clearfix"></div>

    <!--  <div class="fluid-container">-->

    <div class="navbar navbar-inverse abtn-navbar">

        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': root.view == 'config' } "><a href="#/config">  Config  </a></li>
                <li ng-class="{'active': root.view == 'preview'} "><a href="#/preview"> Preview </a></li>
                <li ng-class="{'active': root.view == 'markup' } "><a href="#/markup">  Markup  </a></li>
            </ul>
        </div>

    </div>

    <!--</div>-->


</body>
