<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>se lab: music store</title>
    <link rel="stylesheet" href="./../assets/css/bootstrap_flatly.min.css" type="text/css" />
    <style type="text/css">
        .btn-tool {
            font-size: xx-large;
            line-height: 1em;
            margin: 5px;
            padding: 1px 7px;
        }
        

        .noselect {
          -webkit-user-select: none;  /* Chrome all / Safari all */
          -moz-user-select: none;     /* Firefox all */
          -ms-user-select: none;      /* IE 10+ */

          /* No support for these yet, use at own risk */
          -o-user-select: none;
          user-select: none;  
          cursor:default;  
        }

                
       #album-commit-btns .btn-tool{
                font-size:large;
                margin:3px;
        }


    </style>
    
    <script src="./../assets/js/jquery.min.js"></script>
    <script src="./../assets/js/angular.min.js"></script>

    <script src="./../assets/js/se.musicStore.js"></script>
    <script type="text/javascript">
        musico.init();
    </script>
</head>
<body class="noselect">



    <div class="container" ng-app="musico">

        <div class="row" ng-controller="AlbumListCtrl as albumList">

            <ul id="album-menu" class="dropdown-menu" role="menu">
                <li><a tabindex="-1" href="#" ng-click="albumList.editActive()">Edit</a></li>
                <li><a tabindex="-1" href="#" ng-click="albumList.deleteActive()">Delete</a></li>
            </ul>

            <div class="col-xs-10 col-md-10  col-sm-10">

                <h1 class="text-muted"> ♫ {{albumList.title}} ♪ </h1>

                <input type="button" class="btn btn-primary pull-right" value="✗ clear all" style="padding:7px"
                       ng-if="albumList.albums.length > 0"
                       ng-click="albumList.deleteAll()"
                       ng-right-click="albumList.reset()" />

                <input type="button" class="btn btn-info btn-tool" value="+" ng-click="albumList.addAlbum()" ng-disabled="!!albumList.editing" />

                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:43%">Artist</th>
                            <th style="width:43%">Album</th>
                            <th style="width:14%">Year</th>
                        </tr>
                    </thead>
                    <tbody fix-buttons="albumList.editing" fix-buttons-el="#album-commit-btns">

                        <tr ng-repeat="album in albumList.albums"
                            ng-class="{'info': albumList.active == album}"
                            ng-click="albumList.active = album"
                            ng-right-click="albumList.active = album" ng-right-click-menu="#album-menu">
                            <td ng-if="album != albumList.editing">{{album.artist}}</td>
                            <td ng-if="album != albumList.editing">{{album.title}}</td>
                            <td ng-if="album != albumList.editing">{{album.year}}</td>

                            <td ng-if="album == albumList.editing" style="padding:0">
                                <input ng-model="albumList.editing.artist" class="form-control input-sm" type="text" />
                            </td>
                            <td ng-if="album == albumList.editing" style="padding:0">
                                <input ng-model="albumList.editing.title" class="form-control input-sm" type="text" />
                            </td>
                            <td ng-if="album == albumList.editing" style="padding:0">
                                <input ng-model="albumList.editing.year" class="form-control input-sm" type="text" />
                            </td>

                        </tr>
                        <tr ng-if="albumList.albums.length == 0" class="active" style="text-align:center">
                            <td colspan="3"> no items </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-2 col-md-2 col-sm-2" style="padding:2px">
                <form id="album-commit-btns" ng-if="albumList.editing != null" style="position:absolute">
                    <input type="button" class="btn btn-success btn-tool" value="✓" ng-click="albumList.commit()"  />
                    <input type="button" class="btn btn-danger  btn-tool" value="✗" ng-click="albumList.cancel()"  />
                </form>
            </div>

            </div>
    </div>




</body>
</html>
